/* Remove Duplicate Lines CSS */

#removetext, #selecttext, #cleartext, #loadfile, #savefile {
	float: left;
    padding: 5px 5px;
	margin-right: 10px;
	text-transform: uppercase;
}

#removeempty, #casesensitive {
	width: 20px;
	height: 20px;
}

#savefilename {
	float: left;
	width: 175px;
}

.duplicatetextarea {
	width: 95.6%;
	resize: none;
	color: #000;
	
}

.dup-remover {
	background-color: rgb(249, 249, 249);
	border: 2px solid rgb(249, 249, 249);
	border-radius: 4px;
	padding: 10px 20px 40px 20px;
	margin-top: -30px;
}

.dup-remover h1 {
	margin: 0px;
}

.dup-controls {
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 4%;
}

.dup-controls span {
	vertical-align: middle;
}

.saveload {
	margin-left: 4%;
	margin-top: 10px;
}

.saveload p {
	float: left;
	margin-left: 10%;
}

.linedwrap {
	width: 100%;
	border: 1px solid #c0c0c0;
	padding: 0px;
}

.lines {
	width: 4%;
}

.linedtextarea {
	padding: 0px;
	margin: 0px;
	white-space: nowrap;
}

.linedtextarea textarea, .linedwrap .codelines .lineno {
	font-size: 10pt;
	font-family: monospace;
	line-height: normal !important;
}

.linedtextarea textarea {
	padding-right:0px;
	padding-top:0.4em;
	border: 0;
}

.linedwrap .lines {
	margin-top: 0px;
	float: left;
	overflow: hidden;
	border-right: 1px solid #c0c0c0;
	margin-right: 5px;
}

.linedwrap .codelines {
	padding-top: 5px;
}

.linedwrap .codelines .lineno {
	color:#AAAAAA;
	padding-right: 0.2em;
	padding-top: 0.0em;
	text-align: right;
	
}
